body {
  font-family: Arial, sans-serif;
  background-color: #282c34;
  background-image: url("https://i.pinimg.com/564x/ed/bd/6d/edbd6d6718276705bcc9eec0f6b2e31f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0;
  padding: 0;
}

#title {
  color: #ddd;
  padding-top: 25px;
  font-size: 50px;
}
.game-posters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.game-poster {
  width: 250px;
  height: px;
  margin: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.game-poster:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-poster img {
  width: 250px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.game-poster h3 {
  background-color: #2f2121;
  margin-bottom: 10px;
  margin-top: 10px;
  background: linear-gradient(45deg, #335c67, #540b0e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Set text color to transparent to reveal the gradient background */
  font-size: 20px; /* Set the font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
}

.game-poster p {
  color: #000000;
  margin-bottom: 10px;
}

.game-poster a {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  background: linear-gradient(45deg, #550a10, #242423);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 10px;
}

.game-poster:nth-child(odd) {
  background: linear-gradient(45deg, #ffffff, #080f18);
}

.game-poster:nth-child(even) {
  background: linear-gradient(75deg, #ffffff, #080f18);
}

h4 {
  background-color: #ff6b6b;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  background-color: #2f2121;
  width: 600px;
  border-radius: 20px;
  padding: 10px;
  font-size: 45px;
  color: linear-gradient(45deg);
}
