body {
  font-family: Arial, sans-serif;
  background-image: url("https://i.pinimg.com/564x/34/23/97/342397d2acb644d45690553468f257d2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  padding: 0;
}

#title {
  color: #ddd;
  padding-top: 25px;
  font-size: 50px;
}
.game-posters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.game-poster {
  width: 250px;
  height: px;
  margin: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.game-poster:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-poster img {
  width: 250px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.game-poster h3 {
  background-color: #2f2121;
  margin-bottom: 10px;
  margin-top: 10px;
  background: linear-gradient(45deg, #335c67, #540b0e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  font-size: 20px;
  font-weight: bold; 
}

.game-poster p {
  color: #000000;
  margin-bottom: 10px;
}

.game-poster a {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  color: #c28760;
  text-decoration: underline;
  border-radius: 10px;
}

.game-poster:nth-child(odd) {
  background: linear-gradient(45deg, #ffffff, #aa9f69);
}

.game-poster:nth-child(even) {
  background: linear-gradient(75deg, #ffffff, #d89a6e);
}

h4 {
  background-color: #ff6b6b;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  width: 600px;
  border-radius: 20px;
  padding: 10px;
  font-size: 65px;
  background: linear-gradient(to right, #ffa17f, #00223e);
  -webkit-background-clip: text; 
  color: transparent;
  -webkit-text-stroke: 1.05px #000000
}
